
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body{
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 1%;
}

/*Funktioniert nicht*/
.xheader{
background-color: #ED7F00 !important;
color: #FFFFFF !important;
height: 10vh;
}

/*Bootstrap Einstellungen für Button*/
.btn-kino { 
    color: #FFFFFF; 
    background-color: #ED7F00; 
    border-color: #ED7F00; 
    width: 100%;
    height: 100%;
    padding: 0.5%;
    font-family: 'Roboto Condensed', sans-serif;
  } 
   
  .btn-kino:hover, 
  .btn-kino:focus, 
  .btn-kino:active, 
  .btn-kino.active, 
  .open .dropdown-toggle.btn-kino { 
    color: #FFFFFF; 
    background-color: #FF9F30; 
    border-color: #ED7F00; 
  } 
   
  .btn-kino:active, 
  .btn-kino.active, 
  .open .dropdown-toggle.btn-kino { 
    background-image: none; 
  } 
   
  .btn-kino.disabled, 
  .btn-kino[disabled], 
  fieldset[disabled] .btn-kino, 
  .btn-kino.disabled:hover, 
  .btn-kino[disabled]:hover, 
  fieldset[disabled] .btn-kino:hover, 
  .btn-kino.disabled:focus, 
  .btn-kino[disabled]:focus, 
  fieldset[disabled] .btn-kino:focus, 
  .btn-kino.disabled:active, 
  .btn-kino[disabled]:active, 
  fieldset[disabled] .btn-kino:active, 
  .btn-kino.disabled.active, 
  .btn-kino[disabled].active, 
  fieldset[disabled] .btn-kino.active { 
    background-color: #ED7F00; 
    border-color: #ED7F00; 
  } 